<a href="https://colab.research.google.com/github/mansooraha/landing-page-with-chatbot/blob/main/basics%20of%20python%20%2Cintro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1st task

In [10]:
print("mansoor Ahemd")
print("age is",25)

mansoor Ahemd
age is 25

2nd task

In [17]:
name1=" Mansoor "
name2="Ahmed"
print(name1+name2)

 Mansoor Ahmed

3rd task

In [79]:
a=22
b=13
print(a+b)
print(a-b)
print(a*b)
print(a/b)

35
9
286
1.6923076923076923

4th task

In [31]:
number=23
str=number
print("now it is converted to string",str)

now it is converted to string 23

5th task

In [36]:
string_data="200"
int_data=int(string_data)
print(int_data+50)

250

6th task

In [82]:
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))

print(a+b)
print(a-b)
print(a*b)
print(a/b)

Enter first number: 3
Enter second number: 2
5.0
1.0
6.0
1.5

7th tasks

In [89]:
x = 4
y = 3
print(x,y)
x, y = y, x
print(x, y)

4 3
3 4