<a href="https://colab.research.google.com/github/mansooraha/landing-page-with-chatbot/blob/main/cs_tuple_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
tuple1 = (10, 20, 30, 40, 50)
print(tuple1[::-1])

(50, 40, 30, 20, 10)

In [5]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
print(tuple1[1][1])  # Accessing 2nd element of the list inside the tuple

20

In [6]:
T1 = (1, 9, 1, 6, 3, 4)
print(sum(T1))

24

In [13]:
import random
t = tuple(random.randint(1, 100) for _ in range(3))
print(t)

(80, 65, 2)

In [18]:
t = (23,)
print(t)

(23,)
<class 'tuple'>