<a href="https://colab.research.google.com/github/mansooraha/landing-page-with-chatbot/blob/main/simple_dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1st task

In [1]:
student = {
    "name": "Ali",
    "age": 20,
    "course": "Python Programming"
}

for key, value in student.items():
    print(key, ":", value)

name : Ali
age : 20
course : Python Programming

2nd task

In [2]:
student["grade"] = "A"
student["age"] = 21
print(student)

{'name': 'Ali', 'age': 21, 'course': 'Python Programming', 'grade': 'A'}

3rd task

In [3]:
marks = {"Math": 85, "English": 78, "Science": 92}
print("Keys:", marks.keys())
print("Values:", marks.values())
print("Items:", marks.items())

Keys: dict_keys(['Math', 'English', 'Science'])
Values: dict_values([85, 78, 92])
Items: dict_items([('Math', 85), ('English', 78), ('Science', 92)])

4th task

In [4]:
marks.pop("English")
del marks["Math"]
marks.clear()
print("After clearing:", marks)

After clearing: {}

5th task

In [5]:
d = {"x": 10, "y": 20, "z": 30}
reversed_d = {value: key for key, value in d.items()}
print("Reversed Dictionary:", reversed_d)

Reversed Dictionary: {10: 'x', 20: 'y', 30: 'z'}

6th task

In [6]:
employees = {
    "emp1": {
        "name": "Ahmed",
        "age": 25,
        "department": "IT"
    },
    "emp2": {
        "name": "Sara",
        "age": 30,
        "department": "HR"
    }
}
print("Second Employee Name:", employees["emp2"]["name"])

Second Employee Name: Sara